.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sectionTitle {
  margin: 0;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.sectionHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 16px;
}