.modalFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.mainButtons {
  display: flex;
  gap: var(--space-sm);
  margin-left: auto;
}

.reviewButtons {
  display: flex;
  gap: var(--space-sm);
  border-right: var(--border-width) solid var(--color-border);
  padding-right: var(--space-md);
  align-items: center;
}
