.wrapper {
  width: 100%;
}

.gridTable {
  display: grid;
}

.statusArea {
  display: flex;
  gap: var(--space-xs);
}

.actionGroup {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}